/* UTILITIES */

.inline-block{
    display: inline-block;
} 
 
.text-align-r{
    text-align: right;
}

.text-align-c{
    text-align: center;
}

.text-align-l{
    text-align: left;
}

.m-0{
    margin: 0;
}

.m-b{
    margin-bottom: 20px;
}

.p-0{
    padding: 0;
}

.p-top{
    padding-top: 30px;
}

.p-top-15{
    padding-top: 15px;
}

.p-bottom{
    padding-bottom: 15px;
}

img{
    width: 100%;
    max-width: 200px;
    max-height: 220px;
}

h2{
    font-size: 18px;
}

.white{
    color: white;
}

h5{
    font-size: 9px;
}


.btn-default{
    background-color: #1abc9c;
    color: white;
    border-color: white;
}

i{
    font-size: 15px;
    padding-right: 5px;
}

.colore-verde{
    color: #1abc9c;
}

/* GENERAL */

div > hr{
    width: 25%;
    max-width: 70px;
    border: 2px solid white;
    display: inline-block;
    border-radius: 2px;
    vertical-align: middle;
}

div > hr.border-black{
    border: 2px solid black;
}

div .fas.black,
div h2.black{
    color: black;
}

i.fab{
    max-width: 100%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    border: 1px solid white;
    line-height: 40px;
    text-align: center;
}

ul{
    padding: 0px;
}

li{
    display: inline-block;
}

/* HOVER */

a:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* SEZIONE MOBILE 0px - 768px */

@media screen and (min-width:0px) {

    /* HEADER */
    header{
        height: 80px;
    }
    header .navbar{
        position: fixed;
        width: 100%;
        top: 0;
        border: none;
        border-radius: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1;
    }

    header .navbar-default{
        background-color: #2c3e50;
        margin-bottom: 0;
    }

    header .navbar-default .navbar-brand{
        color: white;
        font-size: 14px;
    }

    header .navbar-default .navbar-nav > li a{
        color: white;
    }

    header .navbar-default .navbar-nav > li > a:hover{
        color: gray;
    }

    /* MAIN */
    /* SECTION HERO */
    section.hero{
        background-color: #1abc9c;
        text-align: center;
    }

    /* SECTION PORTFOLIO */
    section.portfolio{
        text-align: center;
    }

    section.portfolio img{
        width: 100%;
        max-width: 500px;
        max-height: 520px;
    }
    
    /* SECTION ABOUT */
    section.about{
        background: #1abc9c;
        text-align: center;
    }

    /* SECTION CONTATTI */
    .form-group label{
        margin: 0;
    }
    .form-control{
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid black;
        box-shadow: none;
        border-radius: 0px;
        padding: 0;
    }

    button{
        margin-left: 15px;
    }
    
    /* SECTION LOCATION */
    section.location{
        background-color: #3a546d;
    }

    /* FOOTER */
    footer{
        background-color: #2c3e50;
    }
}

/* SECTION TABLET */
@media screen and (min-width:766px){
    /* GENERALI */
    .row .m-left-0{
        margin-left: 0;
    }

    /* SECTION PORTFOLIO */

    /* SECTION PORTFOLIO OVERLAY */
    section.portfolio .overlay{
        display: none;
        position: absolute;
        background-color: rgba(153, 153, 153, 0.7);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 15px 15px 0 15px;
        z-index: 1;
    }

    section.portfolio .overlay i{
        position: absolute;
        font-size: 50px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    /* HOVER OVERLAY */
    
    section.portfolio .col-xs-12:hover .overlay{
        display: block;
        cursor: pointer;
    }
    /* SECTION LOCATION */
    section.location .row .padding{
        padding: 0;
        padding-bottom: 30px;
        padding-right: 15px;
    }
}

/* SECTION LAPTOP */
@media screen and (min-width:992px){
    
}